@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
header, main {
    max-width: 1240px;
    margin: auto;
    padding: 40px 40px 0px 40px;
}
@media all and (min-width: 0px) and (max-width: 768px){
  header, main
    {
      padding: 20px 20px 0px 20px;
    }
}