  .card {
    display: flex;
    flex: 1 0 calc(33.33% - 50px);
    min-height:340px ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-items: end;
    color: white;
    text-decoration:none; 

  }

  .card__content__title
  {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: white;
    width: 100px;
    text-shadow: none;
    text-decoration-color: white
  }




  
  
  