.card {
  display: flex;
  flex: 1 0 calc(33.33% - 50px);
  min-height:340px ;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  align-items: end;
  color: white;
  text-decoration:none; 
  position: relative; 
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.03);
}

.card__content__title
{
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: white;

  text-shadow: none;
  text-decoration-color: white;
  position: absolute; 
  bottom: 0; 
  left: 0;
  padding: 20px;
  z-index: 3;
}

.card__image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 1; 
  border-radius: 10px;
  filter: brightness(70%);
  transition: all 0.3s;
}

.card:hover .card__image {
  filter: brightness(90%);
}