.footer{
    background-color: black;
    padding: 65px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.footer__logo{
    max-width:122px;
    width: 100%; 
    height: auto;
}
.footer__copyright
{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
}
@media all and (min-width: 0px) and (max-width: 768px){
    .footer__copyright
    {
        font-weight: 500;
        font-size: 12px;
    }
}