.host {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .host__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  
  .host__name {
    font-weight: 500;
    font-size: 18px;
    color:#FF6060;
    width: 100px;
  }

  @media (max-width: 768px) {
    .host__name{
      font-size: 12px;
    }
  }

